@using Capstone.Web.Models;
@model ParkDailyWeatherViewModel

@{
    // SET-UP

    ViewBag.Title = Model.Park.ParkName;
    Layout = Url.Content("~/Views/Shared/_Layout.cshtml");

    // Store guidelines for different weather conditions
    Dictionary<string, string> weatherInstruct = new Dictionary<string, string>()
    {
        {"snow", "Pack some snowshoes for your snow-bunnies!" },
        {"rain", "If !Duck, pack gear & waterproof shoes!" },
        {"thunderstorms", "Seek shelter - avoid hiking on exposed ridges!" },
        {"sunny", "Don't be a fool, stay cool and pack sunblock!" },
        {"cloudy", "Great day for cloud-sculpting - have fun out there!" },
        {"partlyCloudy", "Never gonna give you sunburn, never gonna make you fry..." }
    };

    // Retrieve current temp measurement system
    string currentTempSetting = Session["tempSetting"] as string;

    // Set text in faux-button "CHANGE TEMPS" to temp system not in use
    string tempChangeLabel = currentTempSetting == "Fahrenheit" ? "CHANGE TEMPS TO CELSIUS" : "CHANGE TEMPS TO FAHRENHEIT";

    // Set special temp warning settings in Fahrenheit
    double maxHighTemp = 75.0;
    double minLowTemp = 20.0;
    double maxTempRange = 20.0;

    // Retrieve five-day forecast corresponding to current temperature system
    List<DailyWeatherModel> userChoiceForecast = new List<DailyWeatherModel>();
    if (currentTempSetting == "Fahrenheit")
    {
        userChoiceForecast = Model.FiveDayForecast;
    }
    else
    {
        userChoiceForecast = Model.CelsiusFiveDayForecast;

        // If Celsius, change special temp warning settings
        maxHighTemp = 23.89;
        minLowTemp = -6.67;
        maxTempRange = 6.67;
    }

    // Store values for today's forecast to display afterwards
    string todaysForecast = userChoiceForecast[0].Forecast;
    if (todaysForecast == "partly cloudy")
    {
        todaysForecast = "partlyCloudy";
    }
    int todaysHigh = userChoiceForecast[0].HighTemp;
    int todaysLow = userChoiceForecast[0].LowTemp;
    string hotMessage = todaysHigh > maxHighTemp ? " Gonna be a scorcher - bring an extra gallon of water!" : "";
    string tempFluxMessage = todaysHigh - todaysLow > maxTempRange ? " Wear breathable layers today - gonna be a wild weather ride!" : "";
    string coldMessage = todaysLow < minLowTemp ? " WARNING - know the dangers of exposure to frigid temps!" : "";
    string dayOfWeek = DateTime.Today.ToString("ddd").ToUpper();
    string monthAndDay = DateTime.Now.ToString("MMMM d");
}

<section>
    @*INFORMATION FOR SELECTED PARK*@
    <div>
        <img id="viewImg" src="@Url.Content("~/img/parks/" + Model.Park.ParkCode + ".jpg")" alt="@Model.Park.ParkName" />
        <div id="viewNameAndDescript">
            <h1>@Model.Park.ParkName</h1>
            <p>@Model.Park.ParkDescription</p>
        </div>
    </div>
    <hr id="viewHrBar" />

    @* FIVE DAY WEATHER FORECAST*@
    <h1 id="forecastTitle">FORECAST</h1>
    <a id="tempChange" href=@Url.Action("ChangeTempSetting", "Parks", new {parkCode = Model.Park.ParkCode})>@tempChangeLabel</a>
    
    <div>
        <div id="todaysWeather">
            <h2>TODAY</h2>
            <h2>@dayOfWeek</h2>
            <h2>@monthAndDay</h2>
            <img src=@Url.Content("~/img/weather/" + todaysForecast + ".png") alt="@todaysForecast" />
            <h3>High <span>@todaysHigh°</span>  Low <span>@todaysLow°</span></h3>
            <p>@weatherInstruct[todaysForecast]@hotMessage@tempFluxMessage@coldMessage</p>
        </div>

        <div id="weatherForWeek">
            @for (int i = 1; i < userChoiceForecast.Count; i++)
            {
                string dailyForecast = userChoiceForecast[i].Forecast;
                if (dailyForecast == "partly cloudy")
                {
                    dailyForecast = "partlyCloudy";
                }
                <div>
                    <h3>@DateTime.Today.AddDays(userChoiceForecast[i].DayValue - 1).ToString("ddd").ToUpper()</h3>
                    <h3>@DateTime.Now.AddDays(userChoiceForecast[i].DayValue - 1).ToString("MMMM d")</h3>
                    <img src=@Url.Content("~/img/weather/" + dailyForecast + ".png") alt="@todaysForecast" />
                    <h3>High <span>@userChoiceForecast[i].HighTemp°</span></h3>
                    <h3>Low <span>@userChoiceForecast[i].LowTemp°</span></h3>
                </div>
            }
        </div>

    </div>
</section>



